# FastAPI - basic
fastapi
pydantic
requests
python-multipart
uvicorn
# Database
databases
sqlalchemy
asyncpg
psycopg2
# Authentication
python-jose[cryptography]
passlib[bcrypt]
# Files
aiofiles
# Test
pytest
